@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-size: 12pt;
    font-family: arial;
}

p {
    color: red;
}

h1 {
    font-family: 'Agbalumo';
    font-size: 36pt;
}
main, header, footer, nav ul {
    max-width: 40rem;
    margin: 0 auto 0 auto;
}
main {
    background-color: bisque;
}

/* nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} */

/* header {
    background-image: url("../img/background.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 200px;
    opacity: 0.5;
} */

header {
    position: relative;
    max-width: 40rem;
    margin: 0 auto;
    height: 200px;
    overflow: hidden;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

header h1 {
    position: absolute;  
    top: 50%;          
    left: 50%;         
    transform: translate(-50%, -50%);  
    margin: 0;
    z-index: 2;     
    color: black;   
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: bold;
}

.allergen {
    font-weight: bold;
}

#select-burger {
    background-color: black;
    color: white;
}

button:hover {
    cursor: pointer;
}

#customer-info {
    border: 2px dashed black;
    padding: 20px; 
}